* {
    padding: 0;
    margin:0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#app {
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card{
  max-width: 60rem;
  padding: 4rem;
  border: 0 solid #cecece;
  border-radius: 8px;
  background-color: #cecece;
}

/* NAVBAR //1// */
.navbar{
  gap: 8rem;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}

a{
  cursor: pointer;
  color: #808080;
  text-decoration: none;
}

a:hover {
  color: #7fff00;
  border-bottom: 3px #7fff00 solid;
}

a:not(:hover){
  margin: 0 0 3px 0;
}

/* CHANGE ALIGN TEXT //3//*/
.textAlignRadioBtn{
  gap: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  border-top: 2px #7fff00 solid;
}

/* CALCULATOR //4// */
.calcForm{
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}