<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Product praktikum VUEJS</title>
  </head>
  <body>
    <div id="app">
      <!-- NAVBAR (next: belajar vue-router)-->
      <!-- 1 -->
      <div class="navbar">
        <a :href="home">Home</a>
        <a :href="profile">Profile</a>
        <a :href="product">Product</a>
        <a :href="about">About</a>
      </div>
      <!-- 2 -->
      <section class="card">
        <p>
          Ketik nama warna (merah/kuning/biru) =
          <input type="text" name="inputColor" v-model="inputColor" />
        </p>
        <h4 :style="{color : textColor}">EXAMPLE</h4>
      </section>
      <!-- 3 -->
      <section class="card">
        <p :style="{textAlign: changeTextAlign}">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
          vitae officia aut ipsam? Consectetur unde inventore neque. Voluptates
          odit blanditiis, fugit recusandae quod excepturi vel ratione officiis.
          Obcaecati, illo et! Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Tenetur eligendi vero inventore delectus provident reiciendis
          sunt itaque! Qui hic distinctio quis aperiam illo tempora a iste
          assumenda impedit. Sit, distinctio?
        </p>
        <form class="textAlignRadioBtn">
          <p>
            <input
              type="radio"
              name="center"
              value="center"
              v-model="textAlign"
            />
            Center
          </p>
          <p>
            <input type="radio" name="left" value="left" v-model="textAlign" />
            Left
          </p>
          <p>
            <input
              type="radio"
              name="right"
              value="right"
              v-model="textAlign"
            />
            Right
          </p>
        </form>
      </section>
      <!-- 4 -->
      <section class="card">
        <h4 :style="{textAlign: 'center', marginBottom:'7px'}">
          Simple Calculator
        </h4>
        <form class="calcForm">
          <div class="num1">
            <input type="number" v-model="num1" placeholder="10" />
          </div>
          <div>
            <select v-model="operator" class="operator">
              <option value="+">+</option>
              <option value="-">-</option>
              <option value="*">x</option>
              <option value="/">/</option>
            </select>
          </div>
          <div class="num2">
            <input type="number" v-model="num2" placeholder="3" />
          </div>
          <div>= {{ countResult }}</div>
        </form>
      </section>
      <!-- 5 -->
      <section class="card">
        <div class="viewCounter">{{resultCounter}}</div>
        <div class="counterButtons">
          <button @click="count">Count</button>
          <button @click="reset">Reset</button>
        </div>
      </section>
      <!-- 6 -->
      <section class="card">
        <h3><sup>o</sup>C Conversion</h3>
        <div class="convertSection">
          <input class="celciusInput" type="number" v-model="celcius" />
          <div class="degreeButtons">
            <button @click="fahrenheit">To Fahrenheit</button>
            <button @click="kelvin">To Kelvin</button>
          </div>
          <div class="degreeResult">{{degrees}}</div>
        </div>
      </section>
      <!-- 7 -->
      <section class="card">
        <h3>Register Form</h3>
        <button @click="showForm" v-show="!show">Register</button>
        <form class="registerForm" v-show="show">
          <a
            href="product.html"
            class="
            "
            @click="closeRegisterPage"
            >X</a
          >
          <div class="username">
            <input type="text" v-model="firstname" placeholder="Firstname" />
            <input type="text" v-model="lastname" placeholder="Lastname" />
          </div>
          <input
            type="email"
            class="email"
            name="email"
            v-model="email"
            placeholder="Email"
          />
          <input
            type="password"
            class="password"
            name="password"
            v-model="password"
            placeholder="Password"
          />
          <input
            type="date"
            class="birthDate"
            name="birthDate"
            v-model="birthDate"
            placeholder="MM/DD/YYYY"
          />
          <div class="gender">
            <p>
              <input
                type="radio"
                name="male"
                value="Male"
                v-model="gender"
              />Male
            </p>
            <p>
              <input
                type="radio"
                name="Female"
                value="Female"
                v-model="gender"
              />Female
            </p>
          </div>
          <div class="message">{{message()}}</div>
          <button
            type="button"
            class="registerBtn"
            value="Register"
            :disabled="register"
          >
            Register
          </button>
        </form>
      </section>
    </div>

    <script src="../vue.min.js"></script>
    <script src="../app.js"></script>
  </body>
</html>
